---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
Standard: c++20

# Force pointers to the type for C++.
DerivePointerAlignment: false
ColumnLimit: 80

AlignOperands: AlignAfterOperator

AllowShortBlocksOnASingleLine: Never

AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false

AlwaysBreakTemplateDeclarations: Yes
AlwaysBreakAfterReturnType: None

BinPackArguments: false
BinPackParameters: false


BreakBeforeBinaryOperators: All

BreakBeforeBraces: Custom
BraceWrapping:
  IndentBraces: false
  AfterNamespace: true
  AfterExternBlock: true
  AfterClass: true
  AfterStruct: true
  AfterUnion: true
  AfterEnum: true
  AfterFunction: true
  AfterCaseLabel: false
  AfterControlStatement: Always
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  SplitEmptyNamespace: false
  SplitEmptyRecord: false
  SplitEmptyFunction: false


BreakBeforeTernaryOperators: true
BreakInheritanceList: AfterColon
BreakStringLiterals: true

Cpp11BracedListStyle: true
CompactNamespaces: true

EmptyLineBeforeAccessModifier: Always
EmptyLineAfterAccessModifier: Never

FixNamespaceComments: true

IncludeBlocks: Regroup
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: false
IndentExternBlock: NoIndent
IndentGotoLabels: false
IndentPPDirectives: AfterHash
# IndentRequires: false
IndentWidth: 4
InsertTrailingCommas: None

KeepEmptyLinesAtTheStartOfBlocks: false

# LambdaBodyIndentation: Signature

MaxEmptyLinesToKeep: 1

NamespaceIndentation: Inner

PointerAlignment: Right

# QualifierAlignment: Left
# QualifierOrder: ['constexpr', 'static', 'inline', 'const', 'volatile', 'restrict', 'type']

# ReferenceAlignment: Left
ReflowComments: false

SortIncludes: CaseSensitive
SortUsingDeclarations: true
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceAroundPointerQualifiers: Before
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeParens: Never
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyBlock: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: Never
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: -1

SpacesInParentheses: false
SpacesInSquareBrackets: false

TabWidth: 4

UseTab: Never