[submodule "ext/nuclear"]
	path = ext/nuclear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "ext/nuklear"]
	path = ext/nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/shaderc"]
	path = ext/shaderc
	url = https://github.com/google/shaderc.git
[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
[submodule "ext/SPIRV-Tools"]
	path = ext/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "ext/SPIRV-Headers"]
	path = ext/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "ext/glslang"]
	path = ext/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "ext/sqlite"]
	path = ext/sqlite
	url = https://github.com/sqlite/sqlite.git
